@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@550;823;1000&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Cairo", sans-serif;
  /* -ms-overflow-style: none; */
}

body {
  direction: rtl;
}

.layout-small-screen {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.layout-big-screen {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.layout-big-screen > :nth-child(1) {
  grid-column: 2 / 2;
}

.layout-big-screen > :nth-child(3) {
  grid-column: 2 / 2;
  grid-row: 2 / 3;
}

.layout-small-screen > :nth-child(1) {
  grid-column: 1 / -1;
}

.layout-small-screen > :nth-child(3) {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}

::placeholder {
  color: #23397580;
}

.disable-number-controllers::-webkit-outer-spin-button,
.disable-number-controllers::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.disable-number-controllers {
  -moz-appearance: textfield;
}

/* ::-webkit-scrollbar {
  display: none;
} */
