@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Cairo', sans-serif;
}

body {
  direction: rtl;
}

.App {
  display: grid;
  grid-template-columns: 20vw 1fr;
  grid-template-rows: auto 1fr;
}

.App > :nth-child(1) {
  grid-row: 1 / -1;
}

.App > :nth-child(2) {
  grid-row: 1 / 1;
}

.App > :nth-child(3) {
  grid-row: 2 / 2;
}